---
import { AUTHOR_EMAIL } from "../consts.ts";
import Avatar from "./Avatar.astro";

type Props = {
  replies: CommentNode[];
};

const { replies } = Astro.props;

const { db } = Astro.locals;

// 从 db.query.comments.findMany 的返回类型推断单条评论类型
type RawCommentsArray = Awaited<ReturnType<typeof db.query.comments.findMany>>;
type RawComment = RawCommentsArray extends Array<infer T> ? T : never;
type CommentNode = RawComment & {
  replies: CommentNode[];
};
---

{
  replies && replies.length > 0 && (
    <>
      {replies.map((reply: CommentNode) => (
        <li class="comment-item">
          <article>
            <footer class="comment-head">
              <Avatar
                class="comment-avatar"
                email={reply.authorEmail}
                alt={reply.authorName}
              />
              <span class="comment-user">
                {reply.authorName}
                {reply.authorEmail === AUTHOR_EMAIL ? (
                  <span class="comment-author-badge">AUTHOR</span>
                ) : (
                  ""
                )}
              </span>
              <span class="comment-date">{reply.createdAt}</span>
            </footer>
            <p class="comment-body">{reply.content}</p>
            <button
              type="button"
              class="comment-reply-btn"
              data-comment-id={reply.id}
              data-comment-author={reply.authorName}
            >
              回复
            </button>
            {reply.replies && reply.replies.length > 0 && (
              <ol class="comment-replies">
                <Astro.self replies={reply.replies} />
              </ol>
            )}
          </article>
        </li>
      ))}
    </>
  )
}
